<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/ba.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper-3.4.1.min.css" />
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_5tdzav0jyhz1tt9.css" />
	</head>

	<body>
		<!--头部-->
		<header>
			<!--扫一扫-->
			<div class="saoyisao">
				<p class="iconfont icon-scan"></p>
			</div>
			<!--选项卡-->
			<div class="xuanxiangka">
				<ul>
					<li>
						<a href="javascript:;" class="active">发型师</a>
					</li>
					<li>
						<a href="javascript:;">发型师</a>
					</li>
					<li>
						<a href="javascript:;">发型师</a>
					</li>
				</ul>
			</div>
			<!--搜索框-->
			<div class="serch">
				<p class="iconfont icon-sousuo"></p>

			</div>
		</header>
		<!--主体内容-->
		<div class="main" id="app">
			<!--banner图-->
			<div class="banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">slider1</div>
						<div class="swiper-slide">slider2</div>
						<div class="swiper-slide">slider3</div>
					</div>
				</div>
			</div>
			<!--今日头条-->
			<div class="today-news">
				<!--标题-->
				<div class="news-title">
					<p>今日头条</p>
				</div>
				<ul>
					<li>
						<a href="javascript:;">
							<img src="http://180.168.93.59:8070/uploads/3aaf7408-3b11-47d7-9ba4-492051cf5ffe.jpg?imageView2%2F2%2Fw%2F96%2Fh%2F47%2Fq%2F75%7Cimageslim" />
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://180.168.93.59:8070/uploads/3aaf7408-3b11-47d7-9ba4-492051cf5ffe.jpg?imageView2%2F2%2Fw%2F96%2Fh%2F47%2Fq%2F75%7Cimageslim" />
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://180.168.93.59:8070/uploads/3aaf7408-3b11-47d7-9ba4-492051cf5ffe.jpg?imageView2%2F2%2Fw%2F96%2Fh%2F47%2Fq%2F75%7Cimageslim" />
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://180.168.93.59:8070/uploads/3aaf7408-3b11-47d7-9ba4-492051cf5ffe.jpg?imageView2%2F2%2Fw%2F96%2Fh%2F47%2Fq%2F75%7Cimageslim" />
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://180.168.93.59:8070/uploads/3aaf7408-3b11-47d7-9ba4-492051cf5ffe.jpg?imageView2%2F2%2Fw%2F96%2Fh%2F47%2Fq%2F75%7Cimageslim" />
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://180.168.93.59:8070/uploads/3aaf7408-3b11-47d7-9ba4-492051cf5ffe.jpg?imageView2%2F2%2Fw%2F96%2Fh%2F47%2Fq%2F75%7Cimageslim" />
						</a>
					</li>
				</ul>
			</div>
			<!--学院派报告-广告-->
			<div class="reports">
			</div>
			<!--全部分类-->
			<div class="all-classify">
				<!--全部分类-标题-->
				<div class="classify-title">
					<p>全部分类</p>
				</div>
				<!--全部分类-列表-->
				<div class="classify-list">
					<ul>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
						<li>
							<a>
								<div class="tupian">
									<img src="http://img.createwit.com/54caef85-b422-47bb-aa56-c32ab52f04bd.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!--发型私人广告-->
			<div class="ad-two">

			</div>
			<!--热销榜-->
			<div class="hot-sale">
				<!--热销榜-标题-->
				<div class="hot-title">
					<p>热销榜</p>
				</div>
				<!--热销榜-产品列表-->
				<div class="hot-list">
					<ul>

						<li>
							<a href="javascript:;">
								<div class="hot-list-tupian">
									<img src="http://img.createwit.com/0cd51906-71a5-413a-ac4f-a754003030dc.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
								<div class="hot-list-maioshu">
									<p class="p1"><span>115.00</span><s>145.00</s></p>
									<p class="p2">华美烫染专用人发14寸</p>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="hot-list-tupian">
									<img src="http://img.createwit.com/0cd51906-71a5-413a-ac4f-a754003030dc.jpg?imageView2%2F2%2Fw%2F720%2Fh%2F720%2Fq%2F75%7Cimageslim" />
								</div>
								<div class="hot-list-maioshu">
									<p class="p1"><span>115.00</span><s>145.00</s></p>
									<p class="p2">华美烫染专用人发14寸</p>
								</div>
							</a>
						</li>

					</ul>
				</div>
			</div>
			<!--热销榜-->
		</div>
		<!--底部-->
		<footer>
			<nav>
				<ul class="qihuan">
					<li class="active">
						<a href="javascript:;" ng-click="goPage('/home')">
							<div class="tu">
								<div class="tu-home"></div>
							</div>
							<p>首页</p>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="goPage('/menuClass')">
							<div class="tu">
								<div class="tu-menuClass"></div>
							</div>
							<p>分类</p>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="goPage('/menuShop')">
							<div class="tu">
								<div class="tu-menuShop">

								</div>
							</div>
							<p>购物车</p>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="goPage('/menuMy')">
							<div class="tu">
								<div class="tu-menuMy"></div>
							</div>
							<p>我的</p>
						</a>
					</li>

				</ul>
			</nav>
		</footer>
		<!--回到顶部-->
		<div class="backto-top"></div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/swiper-3.4.1.min.js"></script>
	<script src="js/index.js"></script>

</html>