<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/ba.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper-3.4.1.min.css" />
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_5tdzav0jyhz1tt9.css" />
	</head>

	<body>
		
	   <!--头部-->
	   <div class="wode-header">
	   		<div class=""></div>
	   </div>
		<!--底部-->
		<footer>
			<nav>
				<ul class="qihuan">
					<li class="active">
						<a href="javascript:;" ng-click="goPage('/home')">
							<div class="tu">
								<div class="tu-home"></div>
							</div>
							<p>首页</p>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="goPage('/menuClass')">
							<div class="tu">
								<div class="tu-menuClass"></div>
							</div>
							<p>分类</p>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="goPage('/menuShop')">
							<div class="tu">
								<div class="tu-menuShop">

								</div>
							</div>
							<p>购物车</p>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="goPage('/menuMy')">
							<div class="tu">
								<div class="tu-menuMy"></div>
							</div>
							<p>我的</p>
						</a>
					</li>

				</ul>
			</nav>
		</footer>
		<!--回到顶部-->
		<div class="backto-top"></div>
	</body>
	

</html>